.wrapper:hover> :not(:hover){
    filter: blur(5px);
    opacity: 0.5;
}

.un {
    display: inline-block;
}
.un::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #9333ea;
    transition: 300ms;
}
  
.un:hover::after {
    width: 100%;
}