body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
  position: absolute;
}
::-webkit-scrollbar-thumb{
  background-color: #5a149c;
  position: absolute;
  border-radius: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes pinglow {
  75%, 100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

@font-face {
  font-family: gamelove;
  src: url('./FONTES/upheavtt.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
